* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

:root {
  --main-color: #f8b281;
  --secondary-color: #1b1b1b;
}

@font-face {
  font-family: 'argonite';
  src: url('./assets/stone\ orgonite.woff');
}
section {
  padding: 5%;
}

h2 {
  font-size: 2.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 125%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav svg {
  cursor: pointer;
  z-index: 10;
}

.links {
  z-index: 9;
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
}
.links a {
  color: var(--secondary-color);
  font-size: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 8;
}
.logo h1 {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: 'argonite', sans-serif;
}

.logo img {
  width: 15rem;
}

.primary-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.front-page {
  min-height: 100vh;
  color: white;
}
.selling-point {
  margin-top: 25vh;
  font-family: 'argonite', sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
  text-align: center;
}
.selling-point h3 {
  font-family: sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
}

.ctas {
  margin-top: 2rem;
}
.ctas button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
  margin: 1rem;
}
.cta-main {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.cta-main a {
  text-decoration: none;
  color: var(--secondary-color);
}
.cta-sec {
  background-color: var(--secondary-color);
  color: white;
}

.cta-sec a {
  text-decoration: none;
  color: white;
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.classes {
  color: var(--secondary-color);
  text-align: center;
  font-family: 'argonite', sans-serif;
}

.videos div {
  margin-top: 3rem;
  width: 400px;
  height: 400px;
}
.videos video {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}
.meditation,
.yoga,
.pilates {
  position: relative;
}
.videos h3 {
  display: none;
  position: absolute;
  color: var(--main-color);
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.408);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 2rem;
}

.about {
  color: var(--secondary-color);
}
.about h2 {
  font-family: 'argonite', sans-serif;
  text-align: center;
}
.about p {
  line-height: 150%;
  font-size: 1.2rem;
}
.about img {
  width: 100%;
  margin-top: 2rem;
}

footer {
  background: var(--secondary-color);
  width: 100%;
  text-align: center;
  color: white;
  padding: 1.3rem 2rem;
}

@media screen and (min-width: 768px) {
  .conatiner {
    padding: 0% 10%;
  }
  .videos {
    display: flex;
    gap: 2rem;
  }
  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }
  .about img {
    width: 50%;
  }
  .about h2 {
    text-align: start;
  }
  footer {
    width: 100%;
  }
}
