name: Publish Website to CPanel
on:
  push:
    branches:
      - brayan-production
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
      with:
        fetch-depth: 2
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@3.1.1
      with:
        ftp-server: ${{ secrets.BRAYAN_FTP_SERVER }}
        ftp-username: ${{ secrets.BRAYAN_FTP_USERNAME }}
        ftp-password: ${{ secrets.BRAYAN_FTP_PASSWORD }}
